/* poster */

.poster{
  position: relative;
  display: flex;
  margin-top: 89px;
  flex-direction: column;
  @media (max-width: 768px) {
    margin-top: 0;
  }
  @media (max-width: 530px) {
    padding: 0;
  }

  &__content{
    display: flex;
    background-color: #EEE4DB;
  }

  &__text{
    display: flex;
    flex-direction: column;
    width: 307px;
    margin: 89px 0 89px 133px;

    @media (max-width: 768px) {
      margin: 76px 0 102px 60px;
    }
    @media (max-width: 530px) {
      margin: 80px 0 160px 20px;
    }
  }

  &__title{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
    margin-top: 0;
    margin-bottom: 20px;
    @media (max-width: 530px) {
      font-size: 36px;
      margin-bottom: 15px;
    }
  }

  &__design{
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;
    margin-bottom: 20px;
    @media (max-width: 530px) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 15px;
    }
  }

  &__button{
    width: 161px;
  }

  &__img{
    position: absolute;
    bottom: 34px;
    right: 120px;
    max-width: 635px;
    @media (max-width: 1160px) {
      width: 50vw;
    }
    @media (max-width: 940px) {
      right: 20px;
    }
    @media (max-width: 530px) {
      right: 0;
      width: 70vw;
    }
    @media (max-width: 490px) {
      bottom: 54px;
    }
  }

  &__footer{
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #C29974;
    text-align: center;
    &-text{
      display: inline-block;
      padding: 11px 20px;
    }
  }
}

.slider{
  display: flex;
  position: absolute;
  top: 17px;
  left: 48px;
  flex-direction: column;

  @media (max-width: 768px) {
    left: 19px;
  }
  @media (max-width: 530px) {
    left: initial;
    right: 20px;
  }

  &__number{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 60px;
    line-height: 73px;

    margin-top: 0;
    margin-bottom: 0;
    color: rgba(30, 6, 6, 0.05);

    @media (max-width: 768px) {
      font-size: 48px;
      line-height: 59px;
    }
  }

  &__nav{
    padding-top: 10px;
    padding-left: 3px;
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
      padding-top: 4px;
    }
    @media (max-width: 530px) {
      padding-left: 15px;
    }
  }

  &__button{
    width: 31px;
    height: 3px;
    border: none;
    margin-top: 11px;
    background-color: #D6CAC2;
    transition: background-color .7s;
    &:hover{
      background-color: #725F5B;
      cursor: pointer;
    }
    &_active{
      background-color: rgba(30, 6, 6, 0.6);
    }
    @media (max-width: 768px) {
      width: 27px;
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
}

// section common

.section-title{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;  
  text-transform: uppercase;
  color: #1E0606;
  margin: 0;
  @media (max-width: 768px) {
    font-size: 36px;
    line-height: 44px; 
  }
}

.section-text{
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 19px; 
  }
}

/* category */

.category{
  margin-top: 90px;

  &__cards{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1200px) {
      margin-right: calc((100% - 100vw)/ 2);
      overflow: hidden;
    }
    @media (max-width: 768px) {
      margin-top: 24px;
      margin-bottom: 27px;
    }
  }

  &__footer{
    display: flex;
    justify-content: flex-start;
  }
  &__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    margin-top: 3px;
    margin-right: 6px;
    background: rgba(112, 187, 220, 0.2);
    border: none;
    @media (max-width: 768px) {
      width: 36px;
      height: 36px;
    }
    &:hover{
      cursor: pointer;
    }
    &:hover .change-color{
      fill: #C29974;
      transition: .7s;
    }
  }

  &__text{
    padding-left: 14px;
    width: 580px;
    margin-top: 0;
    @media (max-width: 768px) {
      width: 551px;
    }
  }
}

/* delivery */

.delivery{
  display: flex;
  margin-top: 73px;
  justify-content: start;
  @media (max-width: 768px) {
    margin-top: 43px;
  }
  @media (max-width: 530px) {
    margin-top: 63px;
    flex-wrap: wrap;
  }

  &__img{
    width: 100%;
    height: 100%;
    min-width: 300px;
    @media (max-width: 768px) {
      min-width: 200px;
    }
    @media (max-width: 530px) {
    }
  }

  &__information{
    position: relative;
    margin-top: 30px;
    margin-left: 5.1%;
    padding-left: 5.1%;
    @media (max-width: 768px) {
      margin-left: 36px;
      padding-left: 20px;
    }
    @media (max-width: 530px) {
      margin-left: -20px;
      padding-left: 20px;
    }
  }

  &__link{
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 26px;
    line-height: 32px;
    color: #1E0606;
    display: inline-block;
    padding-bottom: 26px;
    transition: opacity .4s;
    &:hover{
      opacity: .75;
    }
    &_bold{
      margin-top: 17px;
      font-weight: bold;
      &::before{
        content: ' ';
        position: absolute;
        // width: 326px;
        width: 60.4%;
        height: 55px;
        top: 50px;
        left: 0px;
        background-color: rgba(112, 187, 220, 0.2);
        @media (max-width: 768px) {
          width: 80%;
          height: 45px;
        } 
      }
    }
    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 30px;
      padding-bottom: 15px;
    }
  }

  &__text{
    width: 82.8%;
    margin: 0;
    padding-bottom: 15px;
    @media (max-width: 768px) {
      width: 100%;
      padding-bottom: 12px;
    } 
  }

  &__button{
    margin-top: 13px;
    @media (max-width: 768px) {
      margin-top: 7px;
    } 
  }
}

/* partners */

.partners{
  margin-top: 90px;
  margin-bottom: 90px;
  @media (max-width: 768px) {
    margin-top: 60px;
    margin-bottom: 86px;
  } 
  @media (max-width: 530px) {
    margin-top: 83px;
    margin-bottom: 50px;
  } 

  &__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__one{
    width: 17%;
    height: 100%;
    @media (max-width: 530px) {
      width: 38.9%;
      padding-bottom: 30px;
    } 
  }

  &__img:hover{
    opacity: .75; 
    transition: .4s;
  }
}

/* add-inf */

.add-information{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 147px;
  @media (max-width: 768px) {
    margin-bottom: 125px;
  }
  @media (max-width: 530px) {
    padding: 0;
  }

  &__title{
    padding-left: 30px;
    @media (max-width: 890px) {
      padding-left: 15px;
      font-size: 30px;
      line-height: 37px;
    }
    @media (max-width: 530px) {
      padding-left: 20px;
      font-size: 24px;
      line-height: 29px;
    }
  }
}

.about-us{
  width: 46%;
  @media (max-width: 768px) {
    width: 48.5%;
  }
  @media (max-width: 530px) {
    width: 100%;
  }

  &__title{
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 26px;
    line-height: 32px;
    font-weight: normal;
    color: #1E0606;
    margin-top: 0;
    margin-bottom: 0;
    @media (max-width: 530px) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__paragraph{
    background-color: #E1F0F7;
    margin-top: -20px;
    padding: 30px 30px 35px 30px;
    @media (max-width: 768px) {
      padding: 33px 19px 35px 15px;
    }
    @media (max-width: 651px) {
      margin-top: -32px;
    }
    @media (max-width: 530px) {
      margin-top: -15px;
      padding: 25px 20px 25px 20px;
    }
  }

  &__text{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    @media (max-width: 530px) {
      margin-bottom: 15px;
    }
  }
}

.contacts{
  width: 46%;
  margin-left: 4.8%;
  @media (max-width: 768px) {
    margin-left: 3%;
    width: 48.5;
  }
  @media (max-width: 530px) {
    width: 100%;
    margin-left: 0;
    margin-top: 35px;
  }

  &__map{
    border: none;
    width: 89%;
    height: 200px;
    margin-top: -82px;
    margin-left: 5.5%;
    @media (max-width: 768px) {
      height: 151px;
      margin-left: 15px;
    }
    @media (max-width: 530px) {
      height: 200px;
      margin-left: 20px;
      width: 92%;
      margin-top: -100px;
    }
  }

  &__text{
    position: relative;
    z-index: -1;
    background-color: #E1F0F7;
    margin-top: -20px;
    padding: 40px 30px 80px 30px;
    width: 100%;
    @media (max-width: 768px) {
      padding: 40px 15px 80px 15px;
    }
    @media (max-width: 530px) {
      padding: 25px 20px 100px 20px;
    }
  }
}

/* form */

.modal-window{
  position: fixed;
  background-color: rgba(125, 151, 218, 0.8);
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.modal-window-close{
  display: none;
}

.for-close{
  margin: auto;
  width: 705px;
  position: relative;
  @media (max-width: 640px) {
    width: 335px;
  }
}

.registration{
  margin: auto;
}

.button-close{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 98%;
  font-size: 15px;
  right: -17px;
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
  transition: opacity .4s;
  @media (max-width: 768px) {
    top: -25px;
    left: 94%;
  }
  @media (max-width: 700px) {
    left: 91%;
  }
  @media (max-width: 640px) {
    left: 320px;
  }
  &:hover{
    opacity: 0.5;
  }
  &:active{
    opacity: 0.5;
  }
}

.header{
  &__logo{
    &:hover{
      opacity: 1;
    }
    &:active{
      opacity: 1;
    }
  }
}
