/* poster */

.poster{
  display: flex;
  margin-top: 89px;
  position: relative;
  &::before{
    content: ' ';
    position: absolute;
    width: 1177px;
    height: 411px;
    z-index: -1;
    background-color: #EEE4DB;
  }

  &__text{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    top: 89px;
    left: 153px;
  }
  &__title{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
    width: 307px;
    margin: 0;
  }

  &__design{
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__img{
    position: absolute;
    top: -89px;
    left: 465px;
    width: 635px;
    height: 461px
  }

  &__footer{
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #C29974;
    position: absolute;
    top: 372px;
    width: 1177px;
    text-align: center;
    &-text{
      display: inline-block;
      padding: 11px;
    }
  }
}

.slider{
  display: flex;
  position: absolute;
  top: 17px;
  left: 48px;
  flex-direction: column;

  &__number{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 60px;
    line-height: 73px;

    margin-top: 0;
    margin-bottom: 0;
    color: rgba(30, 6, 6, 0.05);
  }

  &__nav{
    padding-top: 10px;
    padding-left: 3px;
    display: flex;
    flex-direction: column;
  }

  &__button{
    width: 31px;
    height: 3px;
    border: none;
    margin-top: 11px;
    background-color: #D6CAC2;
    transition: background-color .7s;
    &:hover{
      background-color: #725F5B;
      cursor: pointer;
    }
    &_active{
      background-color: rgba(30, 6, 6, 0.6);
    }
  }
}

// section common

.section-title{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;  
  text-transform: uppercase;
  color: #1E0606;
  margin: 0;
}

.section-text{
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

/* category */

.category{
  margin-top: 501px;

  &__cards{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__footer{
    display: flex;
    justify-content: flex-start;
  }
  &__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    margin-top: 3px;
    margin-right: 6px;
    background: rgba(112, 187, 220, 0.2);
    border: none;
    &:hover{
      cursor: pointer;
    }
    &:hover .change-color{
      fill: #C29974;
      transition: .7s;
    }
  }

  &__text{
    padding-left: 14px;
    width: 580px;
    margin-top: 0;
  }
}

/* delivery */

.delivery{
  display: flex;
  margin-top: 73px;
  justify-content: start;
  flex-wrap: wrap;

  &__img{
    width: 480px;
    height: 559px;
  }

  &__information{
    position: relative;
    margin-top: 30px;
    margin-left: 60px;
    padding-left: 60px;
  }

  &__link{
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 26px;
    line-height: 32px;
    color: #1E0606;
    display: inline-block;
    padding-bottom: 26px;
    transition: opacity .4s;
    &:hover{
      opacity: .75;
    }
    &_bold{
      margin-top: 17px;
      font-weight: bold;
      &::before{
        content: ' ';
        position: absolute;
        width: 326px;
        height: 55px;
        top: 50px;
        left: 0px;
        background-color: rgba(112, 187, 220, 0.2);
      }
    }
  }

  &__text{
    width: 480px;
    margin: 0;
    padding-bottom: 15px; 
  }

  &__button{
    margin-top: 13px;
  }
}

/* partners */

.partners{
  margin-top: 90px;
  margin-bottom: 90px;

  &__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__img:hover{
    opacity: .75; 
    transition: .4s;
  }
}

/* add-inf */

.add-information{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 147px;

  &__title{
    padding-left: 30px;
  }
}

.about-us{
  &__title{
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 26px;
    line-height: 32px;
    font-weight: normal;
    color: #1E0606;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__paragraph{
    background-color: #E1F0F7;
    margin-top: -20px;
    padding: 30px 30px 35px 30px;
  }

  &__text{
    width: 483px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.contacts{
  margin-left: 57px;

  &__text{
    position: relative;
    z-index: -1;
    background-color: #E1F0F7;
    margin-top: -20px;
    padding: 40px 30px 80px 30px;
    width: 543px;
    &::before{
      position: absolute;
    content: ' ';
    width: 483px;
    height: 196px;
    top: 127px;
    background: url('/static/images/map.jpg');
    }
  }
}

/* form */

.modal-window{
  position: fixed;
  background-color: rgba(125, 151, 218, 0.8);
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.modal-window-close{
  display: none;
}

.registration{
  margin: auto;
  position: relative;
}

.button-close{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 107px;
  left: 1107px;
  font-size: 15px;
  right: -17px;
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
  transition: opacity .4s;
  &:hover{
    opacity: 0.5;
  }
  &:active{
    opacity: 0.5;
  }
}

.header{
  &__logo{
    &:hover{
      opacity: 1;
    }
    &:active{
      opacity: 1;
    }
  }
}
