.registration{
  background-color: #E5EAF8;
  width: 680px;
  padding: 23px 40px 42px 40px;
  @media (max-width: 768px) {
    width: 648px;
    padding: 23px 56px 42px 56px;
  }
  @media (max-width: 700px) {
    width: 600px;
    padding: 23px 32px 42px 32px;
  }
  @media (max-width: 640px) {
    width: 335px;
    padding: 8px 25px 25px 25px;
  }

  &__label{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #1E0606;
    position: absolute;
    top: 20px;
    &_little{
      top: -23px;
      @media (max-width: 640px) {
        top: -18px;
      }
    }
  }

  &__large-row{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 600px;
    padding-top: 43px;
    @media (max-width: 768px) {
      width: 536px;
    }
    @media (max-width: 640px) {
      width: 285px;
      padding-top: 37px;
    }
  }

  &__little-row{
    position: relative;
    width: 290px;
    @media (max-width: 768px) {
      width: 258px;
    }
    @media (max-width: 640px) {
      width: 285px;
      &_second{
        margin-top: 37px;
      }
    }
  }


  &__input{
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: border .5s;
    box-sizing: border-box;
    padding: 13px 19px;
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 19px;
    }
    @media (max-width: 640px) {
      font-size: 14px;
      line-height: 16px;
      padding: 12px 15px;
    }
    &:focus{
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }

  &__checkbox-label{
    display: flex;
    align-items: center;
    margin-top: -22px;
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }

  &__indicator{
    display: flex;
    border: 2px solid #C29974;
    border-radius: 3px;
    width: 19px;
    height: 19px;
    margin-right: 10px;
  }
  
  &__checkbox:checked + &__indicator::before{
    content: ' ';
    background: url('/static/images/checked.png');
    margin: auto;
    width: 15px;
    height: 15px;
  }

  &__form-area{
    height: 150px;
  }
}
