<form class="registration" action="https://form-data-dl.herokuapp.com/api/messages" method="POST">

  <div class="registration__large-row">
    <label for="form-name" class="registration__label">Name</label>
    <input type="text" class="@@input-class" id="form-name" name="name" placeholder="@@placeh">
  </div>

  <div class="registration__large-row">
    <div class="registration__little-row">
      <label for="form-phone" class="registration__label registration__label_little">Phone</label>
      <input type="tel" class="registration__input" id="form-phone" name="phone">
    </div>

    <div class="registration__little-row registration__little-row_second">
      <label for="form-email" class="registration__label registration__label_little">E-mail</label>
      <input type="email" class="registration__input" id="form-email" name="email">
    </div>
  </div>

  <div class="registration__large-row">
    <label for="form-message" class="registration__label">Message</label>
    <textarea class="registration__large-row registration__input registration__form-area" name="message"
      id="form-message"></textarea>
  </div>

  <div class="registration__large-row">
    <label class="registration__checkbox-label">
      <input class="registration__checkbox hidden" type="checkbox" name="color" value="black" @@checked>
      <span class="registration__indicator"></span>
      By clicking on the button, you consent to the processing of your personal data
    </label>
  </div>
  @@include('button/index.html', {
  "type": "submit",
  "text": "SUBMIT"
  })
</form>