
body
{
  max-width: 1400px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

@keyframes taxi{
  0%{
    left: 100%;
  }
  44%{
    left: 36%;
    animation-delay: 1s;
  }
  100%{
    left: -70%;
  }
}

@keyframes message{
  0%, 100%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
}

@keyframes car-1{
  0%{
    left: -3%;
    animation-timing-function: linear;
  }
  100%{
    left: 100%;
    animation-timing-function: linear;
  }
}

@keyframes car-2{
  0%{
    left: 23%;
    animation-timing-function: linear;
  }
  100%{
    left: 100%;
    animation-timing-function: linear;
  }
}

@keyframes car-3{
  0%{
    left: 47%;
    animation-timing-function: linear;
  }
  100%{
    left: 100%;
    animation-timing-function: linear;
  }
}

@keyframes car-4{
  0%{
    left: 85%;
    animation-timing-function: linear;
  }
  100%{
    left: 100%;
    animation-timing-function: linear;
  }
}

@keyframes cars{
  0%{
    left: -20%;
    animation-timing-function: linear;
  }
  100%{
    left: 100%;
    animation-timing-function: linear;
  }
}

@keyframes hand{
  0%{
    top: 56%;
    left: 22%;
    transform: rotate(160deg);
    animation-timing-function: linear;
  }
  32%{
    top: 55%;
    left: 28%;
    animation-timing-function: linear;
  }
  100%{
    top: 42%;
    left: 24%;
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
}

@keyframes hand-2{
  0%{
    top: 42%;
    left: 24%;
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
  68%{
    top: 55%;
    left: 28%;
    animation-timing-function: linear;
  }
  100%{
    top: 56%;
    left: 22%;
    transform: rotate(160deg);
    animation-timing-function: linear;
  }
}

@keyframes handw{
  0%,100%{
    top: 73%;
    left: 19%;
  }
  50%{
    top: 70%;
    left: 19%;
    transform: rotate(-45deg);
  }
}

.animation{
  position: relative;
  width: 1400px;
  max-width: 1400px;
  &__sky{
    width: 100%;
  }

  &__city{
    width: 100%;
    height: 100%;
  }

  &__car{
    position: absolute;
    top: 56%;
    left: -3%;
    animation: car-1 7s, cars 7s 7s infinite;
    &_two{
      top: 55%;
      left: 23%;
      animation: car-2 8s, cars 14s 8s infinite;
    }
    &_three{
      top: 57%;
      left: 47%;
      animation: car-3 3s, cars 5s 3s infinite;
    }
    &_four{
      top: 53%;
      left: 85%;
      animation: car-4 3s, cars 10s 3s infinite;
    }
  }

  &__lantern{
    position: absolute;
    top: 22%;
    left: 30%;
    &_centre{
      top: 22%;
      left: 71%;
    }
    &_right{
      left: 94%;
    }
  }

  &__message{
    position: absolute;
    top: 45%;
    left: 11%;
    opacity: 0;
    animation: message 4s 1s;
    &_right{
      top: 31%;
      left: 23%;
      animation: message 4s 5s;
    }
  }

  &__man{
    position: absolute;
    top: 58.5%;
    left: 17%;
    &_right{
      top: 47%;
      left: 24%;
    }
  }

  &__hand{
    position: absolute;
    top: 56%;
    left: 22%;
    transform: rotate(160deg);
    animation: hand 3s 3s, hand-2 2s 13s;
    animation-fill-mode: forwards;
  }

  &__hand-woman{
    position: absolute;
    top: 73%;
    left: 19%;
    animation: handw 7s;
  }

  &__suitcases{
    position: absolute;
    top: 80%;
    left: 16%;
  }

  &__taxi{
    position: absolute;
    top: 52%;
    animation: taxi 20s 3s;
  }

  &__message-taxi{
    position: absolute;
    opacity: 0;
    top: 44%;
    left: 56%;
    animation: message 4s 10s;
  }
}
