
.paper{
  &__card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -5px;
    @media (max-width: 768px) {
      margin-top: -15px;
    }
  }

  &__item{
    width: 32.2%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      width: 48.9%;
      margin-bottom: 10px;
    }
    @media (max-width: 530px) {
      width: 100%;
    }
  }

  &__img{
    width: 100%;
    height: 100%;
  }

  &__date{
    padding-top: 16px;
    padding-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #818181;
    @media (max-width: 768px) {
      padding-top: 10px;
      padding-bottom: 5px;
    }
    @media (max-width: 530px) {
      font-size: 14px;
      line-height: 16px;
      padding-top: 5px;
    }
  }

  &__title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #1E0606;
    @media (max-width: 530px) {
      font-size: 18px;
      line-height: 22px;
    }
    &:hover{
      text-decoration-line: underline;
    }
    &:active{
      text-decoration-line: underline;
    }
  }

  &__text{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 20px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
    @media (max-width: 768px) {
      padding-top: 10px;
    }
    @media (max-width: 530px) {
      font-size: 16px;
      line-height: 22px;
      padding-top: 7px;
      padding-bottom: 15px;
    }
  }
}

/* pages потом перенести в компонент*/

.pagination{
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    margin-top: 8px;
    margin-bottom: 40px;
  }

  &__numbers{
    width: 19.8%;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      width: 30.5%;
    }
    @media (max-width: 530px) {
      width: 50.5%;
    }
  }

  &__number{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1E0606;
    transition: opacity .4s;
    @media (max-width: 530px) {
      font-size: 14px;
      line-height: 17px;
    }
    &:hover{
      opacity: .5;
    }
    &_one{
      color: #C29974;
    }
  }


  &__change{
    @media (max-width: 530px) {
      width: 12px;
      height: 24px;
    }
    &:hover .change-color{
      fill: #C29974;
      transition: .7s;
    }
  }
}
