
.paper{
  &__card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -5px;
  }

  &__item{
    width: 380px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__img{
    height: 220px;
  }

  &__date{
    padding-top: 16px;
    padding-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #818181;
  }

  &__title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #1E0606;
    &:hover{
      text-decoration-line: underline;
    }
    &:active{
      text-decoration-line: underline;
    }
  }

  &__text{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 20px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
  }
}

/* pages потом перенести в компонент*/

.pagination{
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  &__numder{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1E0606;
    margin-right: 64px;
    transition: opacity .4s;
    &:hover{
      opacity: .5;
    }
    &_one{
      color: #C29974;
    }
  }
  &__change:hover .change-color{
    fill: #C29974;
    transition: .4s;
  }
}
