.title{
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1E0606;
}

.navigation{
  margin-bottom: 50px;
  &__tab{
    font-family: "Crimson Text";
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;
    padding-right: 20px;
    transition: opacity .4s;
    &:hover{
      opacity: 0.75;
    }
    &_passive{
      text-transform: capitalize;
      opacity: 0.5;
      padding-right: 0;
      padding-left: 20px;
      transition: opacity .4s;
      &:hover{
        opacity: 0.5;
      }
    }
  }
}