
// .net-content{
//   max-width: 280px;
//   min-width: 280px;
// }

.category{
  &__top{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    @media (max-width: 1180px) {
      justify-content: center;
    }
  }

  &__title{
    @media (max-width: 530px) {
      padding-right: 20px;
      padding-left: 20px;
    }
    &-text{
      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 29px;
      }
      @media (max-width: 530px) {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  &__card{
    margin-right: 20px;
    margin-bottom: 20px;
    @media (max-width: 940px) {
      max-width: 230px;
      min-width: 230px;
      height: 220px;
    }
    @media (max-width: 768px) {
      max-width: 200px;
      min-width: 200px;
      height: 196px;
    }
    @media (max-width: 530px) {
      max-width: 160px;
      min-width: 160px;
      height: 154px;
      margin-right: 15px;
      margin-bottom: 15px;
    }
    @media (max-width: 410px) {
      max-width: 145px;
      min-width: 145px;
      height: 140px;
    }
    &:nth-child(1){
      @media (max-width: 680px) {
        margin-left: 20px;
      }
      @media (max-width: 530px) {
        margin-left: 15px;
      }
    }
    &:nth-child(3){
      margin-right: 0px;
    }
    &:nth-child(4){
      margin-left: 200px;
      @media (max-width: 1180px) {
        margin-left: 0;
      }
      @media (max-width: 680px) {
        margin-left: 20.1px;
      }
      @media (max-width: 530px) {
        margin-left: 15px;
      }
    }
    &:nth-child(5){
      margin-left: 20px;
      @media (max-width: 680px) {
        margin-left: 0px;
      }
    }
    &:nth-child(6){
      margin-right: 0px;
    }
  }  
}
.description{
  width: 100%;
  margin-bottom: 45px;
  @media (max-width: 1180px) {
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  &__title{
    width: 57.6%;
    margin-left: 200px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: 30px;
    margin-bottom: 25px;
    @media (max-width: 1180px) {
      font-size: 36px;
      line-height: 44px;
      margin-left: 0;
      width: 100%;
    }
  }

  &__texts{
    width: 57.6%;
    margin-left: 200px;
    @media (max-width: 1180px) {
      margin-left: 0;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__text{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin: 0;
    padding-bottom: 15px;
  }
}
