
// можно сделать для фона отдельный компонент, чтобы не переписывать все фоны

.one-category{
  display: flex;
  width: 280px;
  height: 270px;
  justify-content: center;
  align-items: center;
}

.category-link{
  width: 100%;
  height: 100%;
  padding-right: 44px;
  padding-left: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-titles{
  padding-right: 44px;
  padding-left: 44px;
  text-align: center;
}

.category-title{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 292px;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}

.category-link:hover{
  text-decoration-line: underline;
  color: #FFFFFF;
}

.category-link:active{
  text-decoration-line: underline;
  color: #FFFFFF;
}

.apparel-kids{
  position: relative;
}
.apparel-kids::before{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/static/images/category-1.jpg');
    z-index: -1;
}

.holiday-shop{
  position: relative;
}
.holiday-shop::before{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/static/images/category-2.jpg');
    z-index: -1;
}

.toys{
  position: relative;
}
.toys::before{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/static/images/category-3.jpg');
    z-index: -1;
}

.accessories{
  position: relative;
}
.accessories::before{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/static/images/category-4.jpg');
    z-index: -1;
}

.sale{
  position: relative;
}
.sale::before{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/static/images/category-5.jpg');
    z-index: -1;
}

.apparel-adults{
  position: relative;
}
.apparel-adults::before{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/static/images/category-6.jpg');
    z-index: -1;
}