.header{
  display: flex;
  padding-top: 50px;
  padding-bottom: 40px;

  &__logo {
    width: 100px;
    min-width: 100px;
    height: 52px;
    transition: opacity .4s;
    &:hover{
      opacity: .5;
    }
    &:active{
      opacity: .2;
    }
  }

  &__nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 60px;
  }

  &__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }  

  &__link{
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #1E0606;
    margin-right: 20px;
    transition: opacity .4s;
    &:hover{
      opacity: .5;
    }
    &:active{
      opacity: .2;
    }
    &_cont{
      font-weight: bold;
      margin-left: 23px;
      margin-right: 0px;
    }
  }

  &__search{
    transition: opacity .4s;
    &:hover{
      opacity: .5;
      cursor: pointer;
    }
    &:active{
      opacity: .2;
    }
  }
}
