<header class="header container">
  <a href="@@link">
    <img class="header-logo" src="/static/images/logo.svg" alt="logo" />
  </a>
  <nav class="header-nav">
    <ul class="header-list-links list_none">
      <li><a class="link link_nav" href="/pages/Blog/index.html">Blog</a></li>
      <li><a class="link link_nav" href="/pages/Catalog/index.html">Catalog</a></li>
      <li><a class="link link_nav" href="/pages/Toys/index.html">Toys</a></li>
    </ul>
    <ul class="header-list-search list_none">
      <li><img class="search" src="/static/images/search.png" alt="search" /></li>
      <li><a class="link link_cont" href="/pages/Contact us/index.html">Contact Us</a></li>
    </ul>
  </nav>
</header>