<header class="header container">
  <a href="@@link">
    <img class="header__logo" src="/static/images/logo.svg" alt="logo" />
  </a>
  <nav class="header__nav">
    <ul class="header__list-links list-none">
      <li><a class="header__link" href="/pages/Blog/index.html">Blog</a></li>
      <li><a class="header__link" href="/pages/Catalog/index.html">Catalog</a></li>
      <li><a class="header__link" href="/pages/Toys/index.html">Toys</a></li>
    </ul>
    <ul class="header__list-search list-none">
      <li><img class="header__search" src="/static/images/search.png" alt="search" /></li>
      <li><a class="header__link header__link_cont" href="/pages/Contact us/index.html">Contact Us</a></li>
    </ul>
  </nav>
</header>