footer{
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 85px;
  &::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #434343;
    z-index: -1;
  }
}

.content{
  &__information{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
  }

  &__title{
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    margin: 0;
    padding-bottom: 52px;
  }

  &__block{
    &::after{
      content: ' ';
      position: absolute;
      width: 380px;
      height: 1px;
      left: 0;
      top: 45px;
      background-color: #666666;
    }

    &_centre{
      &::after{
        left: 400px;
      }
    }

    &_right{
      &::after{
        left: 800px;
      }
    }
  }

  &__link{
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    display: inline-block;
    margin: 0;
    padding-bottom: 15px;
    transition: opacity .4s;
    &:hover{
      opacity: .5;
    }
    &:active{
      opacity: .2;
    }
  }

  &__form{
    display: flex;
    margin-top: -3px;
  }

  &__mail{
    font-size: 16px;
    line-height: 22px;
    color: #EBEBEB;
    width: 286px;
    height: 42px;
    background-color: #666666;
    border: 1px solid transparent;
    transition: border .4s;
    padding-left: 15px;
    &::-webkit-input-placeholder{
      color: #EBEBEB;
    }
    &:hover{
      border: 1px solid #FFFDFD;
    }
    &:focus{
      border: 1px solid #FFFDFD;
    }
  }

  &__soc{
    display: flex;
    padding-top: 25px;
  }

  &__soc-link{
    margin-right: 10px;
    display: inline-flex;
    justify-content: center;
    background: #666666;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: default;
    transition: opacity .4s;
    &:hover{
      opacity: .5;
      cursor: pointer;
    }
    &:active{
      opacity: .2;
      cursor: pointer;
    }
  }
}

.add-inf{
  position: relative;
  margin-top: 40px;
  display: flex;
  &::after{
    content: ' ';
    position: absolute;
    width: 1180px;
    height: 1px;
    left: 0;
    top: -23px;
    background-color: #666666;
  }

  &__rating{
    display: flex;
    margin-right: 165px;
  }

  &__stars{
    width: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    flex-wrap: wrap;
    padding-top: 18px;
  }

  &__star-check{
    display: none;
  }

  &__star{
    display: inline-block;
    width: 13px;
    height: 13px;
    background:url(static/images/stars.svg);
  }

  &__text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
  }

  &__link{
    display: block;
    font-size: 16px;
    line-height: 22px;
    color: #A2A2A2;
    margin-top: 15px;
    margin-left: 109px;
    transition: color .4s;
    &:hover{
      text-decoration-line: underline;
      color: #FFFFFF;
      cursor: pointer;
    }
    &:active{
      text-decoration-line: underline;
      color: #FFFFFF;
      cursor: pointer;
    }
  }
}

#star1:hover ~ .add-inf__stars :nth-child(1),
#star2:hover ~ .add-inf__stars :nth-child(-n+2),
#star3:hover ~ .add-inf__stars :nth-child(-n+3),
#star4:hover ~ .add-inf__stars :nth-child(-n+4),
#star5:hover ~ .add-inf__stars :nth-child(-n+5){
  cursor: pointer;
  background:url(static/images/stars-color.svg);
}

#star1:checked ~ .add-inf__stars :nth-child(1),
#star2:checked ~ .add-inf__stars :nth-child(-n+2),
#star3:checked ~ .add-inf__stars :nth-child(-n+3),
#star4:checked ~ .add-inf__stars :nth-child(-n+4),
#star5:checked ~ .add-inf__stars :nth-child(-n+5){
  background:url(static/images/stars-active.svg);
}
