footer{
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 85px;
}

footer::before{
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #434343;
  z-index: -1;
} 

.footer-inf{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.footer-custom{
  margin-left: 242px;
}

.footer-connect{
  margin-left: 233px;
}

.footer-title{
  font-size: 16px;
  line-height: 22px;
  color: #AAAAAA;
  margin: 0;
  padding-bottom: 52px;
}

.footer-nav::after{
  content: ' ';
  position: absolute;
  width: 380px;
  height: 1px;
  left: 0;
  top: 45px;
  background-color: #666666;
}

.footer-custom::after{
  content: ' ';
  position: absolute;
  width: 380px;
  height: 1px;
  left: 400px;
  top: 45px;
  background-color: #666666;
}

.footer-connect::after{
  content: ' ';
  position: absolute;
  width: 380px;
  height: 1px;
  right: 0;
  top: 45px;
  background-color: #666666;
}

.footer-link{
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  display: inline-block;
  margin: 0;
  padding-bottom: 15px;
}

.footer-link:hover{
  opacity: .5;
}

.footer-link:active{
  opacity: .2;
}

p.footer-link:hover{
  opacity: 1;
}

p.footer-link:active{
  opacity: 1;
}

.footer-form{
  display: flex;
  margin-top: -3px;
}

.mail{
  font-size: 16px;
  line-height: 22px;
  color: #EBEBEB;
  width: 286px;
  height: 42px;
  background-color: #666666;
  border: 1px solid transparent;
  padding-left: 15px;
}

.mail::-webkit-input-placeholder{
  color: #EBEBEB;
}

.mail:hover{
  border: 1px solid #FFFDFD;
}

.mail:focus{
  border: 1px solid #FFFDFD;
}

.footer-soc{
  display: flex;
  padding-top: 25px;
}

.social-link{
  margin-right: 10px;
  display: inline-flex;
  justify-content: center;
  background: #666666;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: default;
}

.social-link:hover{
  opacity: .5;
  cursor: pointer;
}

.social-link:active{
  opacity: .2;
  cursor: pointer;
}

.footer-text{
  font-size: 16px;
  line-height: 22px;
  color: #A2A2A2;
  margin-left: 109px;
}

.footer-text:hover{
  text-decoration-line: underline;
  color: #FFFFFF;
  cursor: pointer;
}

.footer-text:active{
  text-decoration-line: underline;
  color: #FFFFFF;
  cursor: pointer;
}

.footer-last{
  position: relative;
  margin-top: 40px;
  display: flex;
}

.footer-last::after{
  content: ' ';
  position: absolute;
  width: 1180px;
  height: 1px;
  left: 0;
  top: -23px;
  background-color: #666666;
}

.footer-rating{
  display: flex;
  margin-right: 165px;
}

.stars{
  display: flex;
  padding-left: 25px;
  flex-wrap: wrap;
}

.star{
  padding-top: 3px;
  padding-left: 2.88px;
}
