<footer>
  <div class="content container">
    <ul class="content__information list-none">
      <li class="content__block content__block_left">
        <p class="content__title">Navigation</p>
        <ul class="list-none">
          <li><a class="content__link" href="#">About Us</a></li>
          <li><a class="content__link" href="#">Blog</a></li>
          <li><a class="content__link" href="#">Design Services</a></li>
          <li><a class="content__link" href="#">Featured On</a></li>
          <li><a class="content__link" href="#">2018 Holiday Catalog</a></li>
          <li><a class="content__link" href="#">Shop By Designer</a></li>
        </ul>
      </li>
      <li class="content__block content__block_centre">
        <p class="content__title">Customer Information</p>
        <ul class="list-none">
          <li><a class="content__link" href="#">Contact Us</a></li>
          <li><a class="content__link" href="#">Sale Exclusions</a></li>
          <li><a class="content__link" href="#">Shipping & Returns</a></li>
          <li><a class="content__link" href="#">Terms & Conditions</a></li>
          <li><a class="content__link" href="#">Privacy Policy</a></li>
          <li><a class="content__link" href="#">Search</a></li>
        </ul>
      </li>
      <li class="content__block content__block_right">
        <p class="content__title">Connect</p>
        <form class="content__form" name="text" method="POST" action="">
          <input class="content__mail" type="email" placeholder="Email">
          @@include('button/index.html', {
          "type": "submit",
          "text": "Join"
          })
        </form>
        <ul class="content__soc list-none">
          <li>
            <a class="content__soc-link" href="#"><img src="/static/images/f.svg" alt="facebook" /></a>
          </li>
          <li>
            <a class="content__soc-link" href="#"><img src="/static/images/twit.svg" alt="twitter" /></a>
          </li>
          <li>
            <a class="content__soc-link" href="#"><img src="/static/images/p.svg" alt="p" /></a>
          </li>
          <li>
            <a class="content__soc-link" href="#"><img src="/static/images/inst.svg" alt="instagram" /></a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="add-inf list-none">
      <li class="add-inf__rating">
        <p class="add-inf__text">Company Rating</p>
        <ul class="add-inf__stars list-none">
          <li><img class="add-inf__star" src="/static/images/Star.svg" alt="star" /></li>
          <li><img class="add-inf__star" src="/static/images/Star.svg" alt="star" /></li>
          <li><img class="add-inf__star" src="/static/images/Star.svg" alt="star" /></li>
          <li><img class="add-inf__star" src="/static/images/Star.svg" alt="star" /></li>
          <li><img class="add-inf__star" src="/static/images/Star.svg" alt="star" /></li>
        </ul>
      </li>
      <li>
        <p class="add-inf__text">Copyright © 2018 Dlk • Design Life Kids</p>
      </li>
      <li>
        <a class="add-inf__link" href="#">Web Design — Direct Line Development</a>
      </li>
    </ul>
  </div>
</footer>