// .catalog{
//   padding-left: 20px;
// }
  
  /* form */
  
.buy{
  position: relative;
  margin-bottom: 60px;
  @media (max-width: 768px) {
    margin-bottom: 50px;
  }
  @media (max-width: 530px) {
    margin-bottom: 40px;
  }
  &::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(125, 151, 218, 0.2);
    z-index: -1;
  }

  &__form{
    display: flex;
    flex-wrap: wrap;
    padding-top: 36px;
    padding-bottom: 24px;
    @media (max-width: 768px) {
      padding-top: 25px;
      padding-bottom: 30px;
    }
    @media (max-width: 530px) {
      padding-top: 20px;
      padding-bottom: 25px;
    }
    &-label{
      font-family: "Open Sans";
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #1E0606;
      margin-bottom: 15px;
      @media (max-width: 530px) {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 19px;
      }
    }
    &-number{
      font-family: "Open Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #1E0606;
      @media (max-width: 530px) {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }

  &__cost-range{
    width: 17.5%;
    display: flex;
    flex-direction: column;
    @media (max-width: 818px) {
      width: 26.3%;
    }
    @media (max-width: 530px) {
      width: 53.9%;
      margin-right: 40%;
      margin-bottom: 25px;
    }
  }

  &__range{
    display: flex;
    justify-content: space-between;
  }

  &__fieldset{
    border: none;
    padding: 0;
    &_color{
      display: flex;
      flex-direction: column;
      margin-left: 8%;
      @media (max-width: 818px) {
        margin-left: 12%;
      }
      @media (max-width: 530px) {
        margin-left: 0;
      }
    }
    &_shipping{
      display: flex;
      flex-direction: column;
      margin-left: 10.5%;
      margin-right: 6%;
      @media (max-width: 818px) {
        margin-left: 14.8%;
        margin-right: 0;
      }
      @media (max-width: 530px) {
        margin-left: 30.4%;
      }
    }
  }
  
  &__checkbox-label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    &:hover{
      text-decoration-line: underline;
      cursor: pointer;  
    }
  }

  &__indicator{
    position: relative;
    display: flex;
    margin-right: 10px;
    border: 2px solid #C29974;
    &::before{
      content: ' ';
      margin: auto;
      width: 15px;
      height: 15px;
      z-index: 1;
      background: url('/static/images/checked.png') no-repeat;
      opacity: 0;
      transition: opacity .4s;
    }
    &::after{
      position: absolute;
      top: 1px;
      left: 1px;
      content: ' ';
      margin: auto;
      width: 13px;
      height: 13px;
    }
  }

  &__checkbox:checked + &__indicator::before{
    opacity: 1;
  }

  &__checkbox:checked + &__indicator::after{
    background-color: white;
  }


  &__radio-label{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:hover{
      text-decoration-line: underline;
      cursor: pointer;
    }
  }

  &__radio-indicator{
    display: flex;
    border: 2px solid #C29974;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    &::before{
      content: ' ';
      margin: auto;
      width: 12px;
      height: 12px;
      background: #C29974;
      border-radius: 50%;
      opacity: 0;
      transition: opacity .4s;
    }
  }

  &__radio:checked + &__radio-indicator::before{
    opacity: 1;
  }
  

  &__amount-d{
    display: flex;
  }

  &__amount-label{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__amount-value{
    position: absolute;
    top: 7px;
    left: 19px;
    &_small{
      left: 28px;
    }
  }

  &__amount-indicator{
    display: flex;
    background-color: #FFFFFF;
    width: 80px;
    height: 35px;
  }

  &__amount:checked + &__amount-indicator::before{
    content: ' ';
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #F3D0DB;
  }

  &__amount:hover + &__amount-indicator::before{
    content: ' ';
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #EDDEEB;
    cursor: pointer;
  }
}

  /* product */
  
  .product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__card{
      position: relative;
      width: 32.2%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
      @media (max-width: 768px) {
        margin-bottom: 25px;
      }
      @media (max-width: 530px) {
        width: 42.7%;
      }
    }

    &__learn-more{
      content: ' ';
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 54.5%;
      height: 42.5%;
      top: 23.1%;
      right: 22.6%;
      background-color: #E5EAF8;
      opacity: 0;
      transition: opacity .7s;
      &:hover{
        opacity: 0.9;
      }
      &:active{
        opacity: 0.67;
      }
    }

    &__learn-more-text{
      text-align: center;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 29px;
      text-transform: uppercase;
      color: #1E0606;
      text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
      @media (max-width: 768px) {
        font-size: 20px;
        line-height: 22px;
      }
      @media (max-width: 530px) {
        font-size: 16px;
        line-height: 19px;
      }
    }

    &__link{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__img{
      width: 100%;
      height: 100%;
    }

    &__name{
      font-family: "Open Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      color: #1E0606;
      padding-top: 30px;
      @media (max-width: 768px) {
        font-size: 12px;
        line-height: 16px;
        padding-top: 15px;
      }
      @media (max-width: 530px) {
        padding-top: 10px;
      }
    }

    &__price{
      font-family: "Open Sans";
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #1E0606;
      padding-top: 15px;
      @media (max-width: 768px) {
        font-size: 14px;
        line-height: 19px;
        padding-top: 5px;
      }
      @media (max-width: 530px) {
        font-size: 12px;
        line-height: 16px;
        padding-top: 5px;
      }
    }
  }

  /* pages потом перенести в компонент*/

  .pagination{
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      margin-top: 8px;
      margin-bottom: 40px;
    }

    &__numbers{
      width: 19.8%;
      display: flex;
      justify-content: space-between;
      @media (max-width: 768px) {
        width: 30.5%;
      }
      @media (max-width: 530px) {
        width: 50.5%;
      }
    }

    &__number{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: #1E0606;
      transition: opacity .4s;
      @media (max-width: 530px) {
        font-size: 14px;
        line-height: 17px;
      }
      &:hover{
        opacity: .5;
      }
      &_one{
        color: #C29974;
      }
    }


    &__change{
      @media (max-width: 530px) {
        width: 12px;
        height: 24px;
      }
      &:hover .change-color{
        fill: #C29974;
        transition: .7s;
      }
    }
  }