// .catalog{
//   padding-left: 20px;
// }
  
  /* form */
  
.buy{
  position: relative;
  margin-bottom: 60px;
  &::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(125, 151, 218, 0.2);
    z-index: -1;
  }

  &__form{
    display: flex;
    padding-top: 36px;
    padding-bottom: 24px;
  }

  &__form-label{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-bottom: 15px;
  }

  &__cost-range{
    width: 207px;
    display: flex;
    flex-direction: column;
  }

  &__range{
    display: flex;
    justify-content: space-between;
  }

  &__form-number{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
  }

  &__fieldset{
    border: none;
    padding: 0;
  }
  
  &__checkbox-label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    &:hover{
      text-decoration-line: underline;
      cursor: pointer;  
    }
  }

  &__indicator{
    display: flex;
    border: 2px solid #C29974;
    border-radius: 3px;
    width: 19px;
    height: 19px;
    margin-right: 10px;
  }

  &__checkbox:focus + &__indicator{
    border: 2px solid #C29974;
  }

  &__checkbox:checked + &__indicator::before{
    content: ' ';
    background: url('/static/images/checked.png');
    margin: auto;
    width: 15px;
    height: 15px;
  }

  &__radio-label{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:hover{
      text-decoration-line: underline;
      cursor: pointer;
    }
  }

  &__radio-indicator{
    display: flex;
    border: 2px solid #C29974;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  &__radio:focus + &__radio-indicator{
    border: 2px solid #C29974;
  } 
  
  &__radio:checked + &__radio-indicator::before{
    content: ' ';
    margin: auto;
    width: 12px;
    height: 12px;
    background: #C29974;
    border-radius: 50%;
  }

  &__amount-d{
    display: flex;
  }

  &__amount-label{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__amount-value{
    position: absolute;
    top: 7px;
    left: 19px;
    &_small{
      left: 28px;
    }
  }

  &__amount-indicator{
    display: flex;
    background-color: #FFFFFF;
    width: 80px;
    height: 35px;
  }

  &__amount:checked + &__amount-indicator::before{
    content: ' ';
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #F3D0DB;
  }

  &__amount:hover + &__amount-indicator::before{
    content: ' ';
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #EDDEEB;
    cursor: pointer;
  }
}

.fieldset-shipping{
  display: flex;
  flex-direction: column;
  margin-left: 124px;
  margin-right: 69px;
}

.fieldset-color{
  display: flex;
  flex-direction: column;
  margin-left: 94px;
}

  /* product */
  
  .product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__card{
      position: relative;
      width: 380px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
    }

    &__learn-more{
      content: ' ';
      position: absolute;
      width: 207px;
      height: 207px;
      top: 89px;
      right: 86px;
      background-color: #E5EAF8;
      opacity: 0;
      &:hover{
        opacity: 0.9;
      }
      &:active{
        opacity: 0.67;
      }
    }

    &__learn-more-text{
      content: ' ';
      position: absolute;
      top: 82px;
      right: 12px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 29px;
      text-transform: uppercase;
      color: #1E0606;
      text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    }

    &__link{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__img{
      height: 385px;
    }

    &__name{
      font-family: "Open Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #1E0606;
      padding-top: 30px;
    }

    &__price{
      font-family: "Open Sans";
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #1E0606;
      padding-top: 15px;
    }
  }
  
  .pages{
    margin-top: 40px;
  }


  /* pages потом перенести в компонент*/

  .pages{
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    &__numder{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: #1E0606;
      margin-right: 64px;
      &:hover{
        opacity: .5;
      }
      &_one{
        color: #C29974;
      }
    }
  }